
/* it worked */

 h2, h3, h4{
	text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin:0px
}


h1 {
	font-family: 'Dr Sugiyama', cursive;
	font-weight: normal;
  font-size: 48px;
  margin:0px;
  text-align: center;
}

/* My nav bar (called the main menu) */

#mainMenu {
	
	width:100%;
	font-family: abel;
	position: relative;
	text-align: center
    

}
#mainMenu li {
	display: inline-block;
	width:100px;
	margin-left:20px;
	border:0px ;
	position: center;
}

.mainMenu ul {
	text-align: center;}

#mainMenu a {
	display:block;
	padding:10px;
	text-decoration:none;
	background-color:#fff;
	color:#7E7E7E;
	text-align: center
}

#mainMenu a:hover {
	background-color:#FFFFFF;
	color:#DC6A6A;
	text-align: center
	font-weight: 900;}

}
#mainMenu a::before {
    display: block;
    content: attr(title);
    font-weight: 900;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

}

/* some body text */

body {
    color: black;
    background-color: #FFFFFF;
font-family: courier new;
font-size: 14px}

    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family:courier new;}

h3 {
  	width: 150px;
  	height: 150px;
  }

  {box-sizing:border-box}

/* Slideshow container */
#slideshow-container {
  max-width: 400px;
  max-height: : 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Abel', sans-serif;
  font-weight: normal;
  font-size: 38px;
  text-align: center;
  color: white;	}

  @media screen and (min-width: 801px) {
  div.centered {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  div.centered {
    font-size: 20px;
  }
}

  .mygrid {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 200px 200px 200px 200px;  
}

.mygrid > div > img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  


}


 .mygridstreet {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr ;  
    grid-template-rows: 800px ;  
}

.mygridstreet > div > img {  
    width: 100%;  
    height: 100%;
    object-fit: cover;  
}
.mygrid > div > .overlay {

  
  transform: translate(-50%, -50%);
  font-family:courier new;
  font-weight: normal;
  font-size: 100px;
  text-align: center;
  color: white;	}


h6 {
font-family: courier new;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

footer {
	font-family: courier new;
  font-weight: normal;
  font-size: 8px;
  text-align: right;
}
